@import "/fonts/poppins/poppins.css";

* {
  font-family: Poppins, sans-serif !important;
}

.top-nav {
  height: 60px;
}
.top-nav .logo {
  height: 24px;
}
.top-nav nav .button {
  color: var(--on-surface);
}
.top-nav .actions .button {
  display: inline-flex !important;
}
:root,
:root:has(.top-nav.at-top) {
  --vp-nav-height: 60px !important;
}

header {
  height: auto;
}

@media (max-width: 1024px) {
  header {
    padding: 3rem 1.5rem !important;
  }
}

.news-banner {
  top: calc(100dvh - 40px) !important;
}