@import "/fonts/poppins/poppins.css";

* {
  font-family: Poppins, sans-serif !important;
}

.top-nav {
  height: 60px;
}
.top-nav .logo {
  height: 24px;
}
.top-nav nav .button {
  color: var(--on-surface);
}
:root,
:root:has(.top-nav.at-top) {
  --vp-nav-height: 60px !important;
}

header {
  height: auto;
}
